.App{
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances{
    display: flex;
}

.instance{
    flex: 1;
    /* border: 2px solid black; */
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(194, 248, 244);
}